.navLink{
    cursor: pointer;
    position: relative;
   transition: all 0.3s ease;

}


.navLink::after{
    content: '';
    width: calc(100% + 30px);
    height: calc(100% + 15px);
    border-top: 1px solid white;
    border-left: 1px solid white;
    position: absolute;
    top: -2px;
    left: -10px;
    transform: scale(0);
    transform-origin: center;
     transition: all .3s;
}
.navLink::before{
    content: '';
    width: calc(100% + 30px);
    height: calc(100% + 15px);
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    position: absolute;
    top: -15px;
    right: -10px;
    transform: scale(0);
    transform-origin: center;
   transition: all .3s;
   /* transition: transform 0.3s ease; */
}

.active-link::before{
    transform: scale(1);
     transition: all .3s;
}
.active-link::after{
    transform: scale(1);
    transition: all .3s;
}